@media (max-width: 425px) {
    html > body:has(#root > .home) {
        background: linear-gradient(#cfffff, #66c1d1);
    }
    html > body > #root > .home article {
        width: 100%;
    }
    html > body > #root .home article > * {
        width: 100%;
    }
    html > body > #root > .home article + a {
        width: 100%;
    }
}
