@import url('./768px/BikeSurvey.css');

.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10% ;
}

.integrantes{
    display: flex;
    padding: 60px;
}
.adrian{
    
}




img{
    width: 100px;
}