
.h1-registration h1{
    color: #1E1E1E;
    font-size: 2.375rem;
    font-weight: 600;
    text-align: center;
    padding: 3rem 0;
}

.h1-registration h2 {
    text-align: center; 
}

body:has(.bike-registration) {
    background-image: url('/static/plans-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.botao-finalizar a{
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #00a1fc;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
}
.botao-finalizar{
    margin-top: 1rem;
}

.bike-registration label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    margin-left: 10%;
}

.bike-registration input[type="text"],
.bike-registration select {
    width: 80%; 
    height: 2.5rem;  
    padding: 0.5rem; 
    margin-bottom: 0.625rem; 
    border-radius: 0.25rem; 
    margin-left: 10%;
}


.form-group {
    text-align: left;
}

.bike-registration {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}




