@import url('./1024px/Home.css');
@import url('./425px/Home.css');
body:has(.home) {
    background-image: url('/static/Fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.home {
    display: flex;
    padding: 4rem;
    gap: 3rem;
    height: 70%;
    flex-direction: column;
    justify-content: center;
}
.home h1 {
    font-size: 3rem;
    width: 40%;
}
.home article {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.home h4 {
    color: #00a1fc;
    font-size: 1.2rem;
}
.home a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #00a1fc;
    text-align: center;
    width: 14%;
    padding: 0.9rem 0;
    border-radius: 0.5rem;
    text-decoration: none;
}
