body:has(.plancards-container) {
    background-image: url('/static/plans-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.plancards-container ~ h1 {
    color: #1e1e1e;
    font-size: 2.375rem;
    font-weight: 600;
    text-align: center;
    padding: 3rem 0;
}

.plancards-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
}
