@media (max-width: 1024px) {
    #root main.form-user {
        background: none;
        background-color: white;
    }
    #root main.form-user {
        width: 85%;
        padding: 3%;
    }
    main.form-user section:nth-child(2) {
        display: none;
    }
    main.form-user section:nth-child(1) {
        width: 100%;
    }
    main.form-user section:nth-child(1) form {
        width: 100%;
    }
}
